#Autosave files
*~

#build
[Oo]bj/
[Bb]in/
build/
packages/
out/
Content/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

#Mac bundle stuff
*.dmg
*.app

#resharper
*_Resharper.*
*.Resharper

#dotCover
*.dotCover

#IDEA
.idea

#FSharp-JVM-Life
src/main/resources/FSharp_JVM_Life.css
src/main/resources/FSharp_JVM_Life.head.html
src/main/resources/FSharp_JVM_Life.head.js
